table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.playout-table-container {
  .select-default-text {
    padding: 20px;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    font-weight: 500;
  }
}
