@import '../../theme';

.login-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  .login-box {
    height: 340px;
    width: 720px;
    background: #f4f4f4;
    display: flex;
    .image-container {
      width: 360px;
      height: 340px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 240px;
      }
    }
    .details-container {
      width: 320px;
      height: 300px;
      padding: 20px;
      .details-image-container {
        margin-bottom: 16px;
        text-align: center;
        img {
          height: 28px;
        }
      }
      .login-header {
        font-size: 18px;
        color: $primary-color-dark;
      }
      .login-form {
        .server-error-container {
          color: red;
          font-size: 12px;
          text-align: center;
          margin: 10px auto -10px auto;
          visibility: hidden;
          height: 0;
          width: 0;
          transition: all 0.3s ease-in;
          overflow: hidden;
        }
        .serverError {
          visibility: visible;
          height: 14px;
          width: 320px;
        }
        .username-container {
          margin: 30px 20px 5px 6px;
          position: relative;
          label {
            color: $primary-color;
          }
          .username-error-container {
            position: absolute;
            bottom: 4px;
            font-size: 10px;
            color: $danger-color;
          }
        }
        .password-container {
          margin: 5px 20px 10px 6px;
          position: relative;
          label {
            color: $primary-color;
          }
          .password-error-container {
            position: absolute;
            bottom: 4px;
            font-size: 10px;
            color: $danger-color;
          }
        }
        .submit-container {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            height: 36.78px;
            width: 128.47px;
            background-color: $primary-color;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.5px;
            padding: 0 40px;
            font-size: 16px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .mat-spinner::ng-deep circle {
            stroke: #fff;
          }
        }
      }
    }
  }
}
