@import '../../../src/theme';

.signal-monitor-container {
  display: flex;
  .main-container {
    width: calc(100vw - 64px);
    position: relative;
    left: 64px;
    .add-title {
      margin: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title-container {
        .main {
          font-size: 18px;
          color: $main-color;
          font-weight: 400;
        }
        .last-updated {
          font-size: 10px;
          font-weight: 300;
          color: #555;
          margin: 10px 0 4px 0;
          span {
            font-weight: 500;
            font-size: 12px;
            color: #333;
            margin-left: 6px;
          }
        }
      }
    }
    .details-container {
      margin: 20px;
      height: calc(100vh - 155px);
      .detail-suppress {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        .detail {
          font-size: 14px;
          font-weight: 400;
        }
        .suppress {

        }
      }
      .sm-table {
        height: calc(100% - 62px);
      }
    }
  }
}
