<div class="health-container mat-elevation-z3">
  <div class="title">Signal Health</div>
  <div class="value">
    <div class="value-title">Networks <span>with missing signals</span></div>
    <div class="health-value-info">
      <div class="health-value">
        <span>Currently</span>
        <div class="data">23</div>
      </div>
      <div class="health-info">
        <div class="empty"></div>
        <div class="stable">stable</div>
        <div class="warning">warning</div>
        <div class="danger">danger</div>
      </div>
    </div>
  </div>
</div>
