<div class="search-container">
  <div class="fontIcon">
    <fa-icon [icon]="faSearch"></fa-icon>
  </div>
  <input type="text" (keyup)="applyFilter($event.target.value)" placeholder="Search for corresponding date" >
</div>

<div class="spinner-container" *ngIf="subTableData.loading">
  <cc-loader></cc-loader>
</div>

<div class="mat-elevation-z1">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{tableHeaders[column]}}</th>
      <td mat-cell *matCellDef="let element"
          [ngClass]="{'paddingLeft24': paddingLeft24Box.includes(column)}">
        <ng-template [ngIf]="!tableColors.includes(element[column])">{{element[column]}}</ng-template>
        <ng-template [ngIf]="tableColors.includes(element[column])">
          <fa-icon [icon]="faCheckCircle"
                   [ngStyle]="{'font-size.px': 20,
                               'color': element[column],
                               'margin-left.px': 4}"></fa-icon>
        </ng-template>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
