<div class="dashboard-container">
  <cc-sidebar></cc-sidebar>
  <div class="main-container">
    <cc-navbar></cc-navbar>
    <div class="dashboard-main-container">
      <div class="title-container">
        High Level Dashboard <span>LSA</span>
      </div>
      <!--<div class="schedule-run-rate">-->
        <!--<cc-schedule-siper></cc-schedule-siper>-->
        <!--<cc-signal-health></cc-signal-health>-->
        <!--<cc-run-rate></cc-run-rate>-->
      <!--</div>-->
      <!--<div class="unbound-decision-failure">-->
        <!--<div class="unbound-break">-->
          <!--<cc-unbound-breaks></cc-unbound-breaks>-->
        <!--</div>-->
        <!--<div class="no-decision">-->
          <!--<cc-no-decision></cc-no-decision>-->
        <!--</div>-->
        <!--<div class="failure-rate">-->
          <!--<cc-failure-rate></cc-failure-rate>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="signal-decision-content">-->
        <!--<div class="signal-container">-->
          <!--<cc-signal-error></cc-signal-error>-->
        <!--</div>-->
        <!--<div class="decision-container">-->
          <!--<cc-decision-errors></cc-decision-errors>-->
        <!--</div>-->
        <!--<div class="content-container">-->
          <!--<cc-content-workflow></cc-content-workflow>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
      <div class="all-containers">
        <div class="schedule each-container">
          <cc-schedule-siper></cc-schedule-siper>
        </div>
        <div class="signal each-container">
          <cc-signal-health></cc-signal-health>
        </div>
        <div class="run each-container">
          <cc-run-rate></cc-run-rate>
        </div>
        <div class="unbound each-container">
          <cc-unbound-breaks></cc-unbound-breaks>
        </div>
        <div class="decision each-container">
          <cc-no-decision></cc-no-decision>
        </div>
        <div class="failure each-container">
          <cc-failure-rate></cc-failure-rate>
        </div>
        <div class="signal each-container">
          <cc-signal-error></cc-signal-error>
        </div>
        <div class="decision each-container">
          <cc-decision-errors></cc-decision-errors>
        </div>
        <div class="content each-container">
          <cc-content-workflow></cc-content-workflow>
        </div>
      </div>
    </div>
  </div>
</div>
