@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import './theme.scss';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 0 !important;
  background: transparent;
  //display: none;
  height: 0 !important;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

//Material Changes
.mat-form-field {
  width: 100%;
}

.mat-form-field-ripple {
  background-color: #44A9E2 !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #44A9E2;
}

th {
  font-size: 14px !important;
  color: $main-color !important;
}

td {
  font-size: 12px !important;
}

//SearchInput CSS
.search-container {
  margin: 6px 0 12px 0;
  width: 100%;
  height: 50px;
  position: relative;
  .fontIcon {
    position: absolute;
    height: 50px;
    line-height: 50px;
    right: 24px;
    top: 3px;
    color: blue;
  }
  input{
    height: 100%;
    border: 0;
    width: calc(100% - 20px);
    padding-left: 20px;
    transition: all 0.2s ease-in-out;
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    &:focus {
      outline: none;
      border: none;
      width: calc(100% - 20px);
      box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    }
  }
}
