$primary-color-dark: #27527D;
$primary-color: #44A9E2;
$secondary-color: #B2D9EA;
$third-color: #FAF366;
$forth-color: #27527C;

$danger-color: #A94442;

$main-color: #0B69D8;
$main-secondary-color: #d87a0b;
$main-third-color: #f7b76b;
